<form class="logres-form pure-form pure-form-stacked" action="/admin/auth/login" method="POST">
    <fieldset>
        <legend>AUTH FORM</legend>

        <div class="logres-form-item">
            <label class="logres-label" for="username">USERNAME</label>
            <input class="logres-input" id="username" name="username" placeholder="USERNAME" required>
        </div>

        <div class="logres-form-item">
            <label class="logres-label" for="password">PASSWORD</label>
            <input class="logres-input" id="password" name="password" type="password" placeholder="PASSWORD" required>
        </div>

        <div class="logres-form-item">
            <label class="logres-checkbox pure-checkbox" for="remember">
                <input id="remember" type="checkbox"> DISABLE COOKIES
            </label>
        </div>

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
</form>