<form class="pure-form pure-form-aligned" id="setting-form">
    <fieldset>
        <legend>Settings</legend>

        <div class="pure-control-group">
            <label for="title">Title</label>
            <input id="title" placeholder="Title" value="{{.Title}}">
        </div>

        <div class="pure-control-group">
            <label for="sub-title">SubTitle</label>
            <input id="sub-title" placeholder="SubTitle" value="{{.SubTitle}}">
        </div>

        <div class="pure-control-group">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Password">
        </div>
        <button class="pure-button" type="submit">Apply</button>
    </fieldset>
</form>