<form class="admin-form pure-form pure-form-aligned" action="/admin/setting" method="POST">
    <fieldset>
        <legend>Settings</legend>

        <div class="pure-control-group">
            <label for="title">Title</label>
            <input id="title" name="title" placeholder="Title" value="{{.Title}}">
        </div>

        <div class="pure-control-group">
            <label for="sub-title">SubTitle</label>
            <input id="sub-title" name="sub-title" placeholder="SubTitle" value="{{.SubTitle}}">
        </div>
        <button class="pure-button" type="submit">Apply</button>
    </fieldset>
</form>