.pure-menu, .admin-form {
    font-family: 'Ubuntu', sans-serif;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout,
#side-menu,
.menu-link {
    transition: all 0.2s ease-out;
}

#layout {
    position: relative;
    left: 0;
    padding-left: 0;
}

#layout.active #side-menu {
    left: 150px;
    width: 150px;
}

#layout.active .menu-link {
    left: 150px;
}

.content {
    padding: 2em;
    line-height: 1.6em;
}

#side-menu {
    margin-left: -150px;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: rgb(37, 42, 58);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#side-menu a {
    color: #FFF;
    border: none;
    padding: 0.8em 0 0.8em 1.5em;
}

#side-menu .pure-menu,
#side-menu .pure-menu ul {
    border: none;
    background: transparent;
}

#side-menu .pure-menu ul,
#side-menu .pure-menu .menu-item-divided {
    border-top: 1px solid #333;
}

#side-menu .pure-menu li a:hover,
#side-menu .pure-menu li a:focus {
    background: rgb(55, 60, 90);
}

#side-menu .pure-menu-selected,
#side-menu .pure-menu-heading {
    background: #129FEA;
}

#side-menu .pure-menu-selected a {
    color: #fff;
}

#side-menu .pure-menu-heading {
    font-size: 1.5rem;
    color: #fff;
    margin: 0;
}

#side-menu .pure-menu-list {
    font-weight: 300;
}

.menu-link {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background: rgba(1, 1, 1, 0.3);
    z-index: 2;
    color: #FFF;
    text-decoration: none;
    padding: 0.7rem;
}

.menu-link:hover,
.menu-link:focus {
    background: #000;
}

.admin-form fieldset .pure-control-group input {
    border: none;
    background: #F6F6F6;
    box-shadow: none;
    padding: 1rem;
}

@media (min-width: 48em) {

    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 150px;
        left: 0;
    }

    #side-menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
}

@media (max-width: 48em) {
    #layout.active {
        position: relative;
        left: 150px;
    }
}