.content-subhead, .index-meta, .post-header {
    font-family: 'Ubuntu', sans-serif;
}

.post-content {
    font-family: 'PT Serif', serif;
}

.post-header h1, .post-header h2, .post-author, .category {
    text-transform: uppercase;
}

.post-content {
    padding: 0 2em;
    max-width: 800px;
    margin: 0 auto 50px;
    line-height: 1.8em;
    font-family: Georgia, "Cambria", serif;
}

.post-header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}

.post-header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 400;
}

.post-header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}

.post-content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

@media (min-width: 48em) {
    .post-header,
    .post-content {
        padding-left: 2em;
        padding-right: 2em;
    }
}

.post-meta {
    color: #999;
    font-size: 90%;
    font-weight: 300;
}