<link rel="stylesheet" href="/assets/css/overview.css">

<div class="pure-g" style="width: 100%">
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="card">
            <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
            </div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="card">
            <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
            </div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="card">
            <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>
            </div>
        </div>
    </div>
</div>
