<link rel="stylesheet" href="/assets/css/admin/overview.css">

<div class="pure-g" style="width: 100%">
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="card">
            <div class="card-title">
                <h3><b>Posts</b></h3>
            </div>
            <div class="card-container">
                <p>Post Count</p>
                <h1>{{.OverviewData.PostCount}}</h1>
            </div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="card">
            <div class="card-title">
                <h3><b>Comments</b></h3>
            </div>
            <div class="card-container">
                <p>Comment Count</p>
                <h1>0</h1>
            </div>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="card">
            <div class="card-title">
                <h3><b>Visits</b></h3>
            </div>
            <div class="card-container">
                <p>Visit Count</p>
                <h1>100</h1>
            </div>
        </div>
    </div>
</div>
